.App {
  text-align: center;
}

.mjb-logo {
  height: 18vmax;
}

.welcome {
  padding-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carousel {
  height: 35vmax;
}

.cont {
  width: 50vmax;
  height: 30vmax;
}

.caro {
  height: 35vmax;
}

.duo {
  height: 30vmax;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 50%;
  margin: 0;
  padding: 0;
}
element.style {
  width: 50%;
  height: 50%;
}

.section {
  height: 40vmax;
}